.title {
    margin: 30px 0px 60px;
}

.home {
    margin-top: 20px;
    
    img.icon {
        margin: 30px 0px;
        width: 96px;
    }

    .btn {
        margin: 10px 40%;
        display: block;
        font-size: 24px;
    }
}