@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

#editor {
    mix-blend-mode: color-burn;
    height: 493px;
}

.hwt-container {
    width: 100%;
    height: 100%;
    background-color: rgba(236, 240, 241, 0.3);
}

.hwt-content {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Fira Code', monospace;
}