.hwt-content mark {

    &.args {
        background-color: #fcc2d7;
    }

    &.comment {
        background-color: #b2bec3;
    }

    &.conditions {
        background-color: #f39c12;
    }

    &.functions {
        background-color: #f9ca24;
    }

    &.methods {
        background-color: #7ed6df;
    }

    &.variables {
        background-color: #a3daff;
    }
}